html {
    width:750px;
}

/*---------------------------------------------------------------------------*/

#togglerbody {
    width: 550px;
    margin-left: auto;
    margin-right: auto;

    display: block;
    text-align: center;
}
#toggler {
    float: left;
    border: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}
#thisweek, #nextweek, #nextnextweek, #nextnextnextweek, #genericweek {
    border: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}
#title {
    font-size: 55px;
}

/*---------------------------------------------------------------------------*/

body {
    width: 550px;
    margin-left: 10px;
    margin-right: auto;
    text-align: justify;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h1 {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0; */
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

h2 {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 45px;
}

h3 {
    width: 550px;
    margin-left:0;
    margin-right: auto;
    text-align: justify;
    font-size: 35px;
}

h4 {
    width: 550px;
    margin-left:0;
    margin-right: auto;
    text-align: justify;
    font-size: 25px;
}

h5 {
    width: 550px;
    margin-left:0;
    margin-right: auto;
    text-align: justify;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------------------------------------*/

/* Wide viewport */
@media (min-width: 400px) {
    .aside {
        display: inline;
        float: left;
        clear: left;
        position: relative;
        width: 740px;
        height: 0%;
    }
    .asideinner {
        display: inline;
        float: right;
        clear: right;
        position: relative;
        text-align: left;
        font-size: 75%;
        width: 180px;
        top: -2em;
    }

    .asideinner:hover {
        font-weight: bold;
    }
}
