@import "base.css";

#toggler {
    background-color: rgb(255, 255, 224);
    color: rgb(240, 224, 192);
}
#title {
    color: rgb(224, 192, 0);
}

body {
    background-color: rgb(240, 224, 192);
    color: rgb(16, 32, 64);
}
h1 {
    color: rgb(224, 192, 0);
}
h2 {
    color: rgb(224, 184, 64);
}
h3 {
    color: rgb(224, 176, 128);
}
h4 {
    color: rgb(224, 168, 160);
}
h5 {
    color: rgb(224, 160, 192);
}
a {
    color: rgb(128, 128, 192);
}
a:hover {
    background-color: rgb(64, 192, 256);
    color: rgb(64, 64, 256);
}
