#bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}
                             #bubbles { width:  450px; }
@media (min-width:  750px) { #bubbles { width:  750px; } }
@media (min-width: 1050px) { #bubbles { width: 1050px; } }
@media (min-width: 1350px) { #bubbles { width: 1350px; } }
@media (min-width: 1650px) { #bubbles { width: 1650px; } }

.bubble-box {
    width: 190px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.bubble-portrait {
    position: relative;
    width: 190px;
    height: 190px;
    margin: 0 auto 5px auto;
    border-radius: 33%;
    overflow: hidden;
}

.bubble-portrait img {
    width: 100%;
}

.bubble-name {
    text-align: center;
    color: rgb(64, 64, 128);
    font-weight:  bold;
    font-size: 16px;
}

.bubble-info {
    text-align: center;
    color: rgb(128, 128, 128);
    font-style: italic;
    font-size: 12px;
}
