@import "base.css";

#toggler {
    background-color: rgb(32, 32, 48);
    color: rgb(0, 0, 16);
}
#title {
    color: rgb(32, 64, 0);
}

body {
    background-color: rgb(0, 0, 16);
    color: rgb(192, 192, 128);
}
h1 {
    color: rgb(32, 64, 0);
}

h2 {
    color: rgb(32, 80, 48);
}
h3 {
    color: rgb(64, 96, 64);
}
h4 {
    color: rgb(64, 112, 80);
}
h5 {
    color: rgb(96, 128, 96);
}
a {
    color: rgb(128, 128, 192);
}
a:hover {
    background-color: rgb(64, 192, 256);
    color: rgb(64, 64, 256);
}
