@import "base.css";

#toggler {
    background-color: rgb(64, 48, 48);
    color: rgb(32, 16, 16);
}
#title {
    color: rgb(192, 192, 192);
}

body {
    background-color: rgb(32, 16, 16);
    color: rgb(255, 224, 192);
}
h1 {
    color: rgb(255, 255, 192);
}
h2 {
    color: rgb(255, 224, 160);
}
h3 {
    color: rgb(224, 192, 128);
}
h4 {
    color: rgb(224, 160, 96);
}
h5 {
    color: rgb(192, 128, 64);
}
a {
    color: rgb(128, 128, 192);
}
a:hover {
    background-color: rgb(64, 192, 256);
}
