#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  text-align: center;
  width: 150px;
}

.left {
  float: left;
  width: 5em;
  padding-right: 1em;
  padding-top: .2em;
  padding-bottom: .2em;
  text-align: right;
  color: #888;
  overflow: visible;
}

.right {
  margin-left: 5.5em;
  width: 20em;
  padding-left: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-left: 1px solid #ddd;
  text-align: justify;
}
