@import "base.css";

#toggler {
    background-color: rgb(255, 255, 255);
    color: rgb(224, 240, 255);
}
#title {
    color: rgb(0, 0, 64);
}

body {
    background-color: rgb(224, 240, 255);
    color: rgb(32, 148, 139);
}
h1 {
    color: rgb(0, 0, 64);
}
h2 {
    color: rgb(32, 148, 139);
}
h3 {
    color: rgb(106, 177, 135);
}
h4 {
    color: rgb(244, 208, 112);
}
h5 {
    color: rgb(222, 122, 34);
}
a {
    color: rgb(128, 128, 192);
}
a:hover {
    background-color: rgb(64, 192, 256);
    color: rgb(64, 64, 256);
}
