@import "base.css";

#toggler {
    background-color: rgb(224, 224, 224);
    color: rgb(255, 255, 255);
}
#title {
    color: rgb(0, 0, 64);
}

body {
}
h1 {
    color: rgb(0, 0, 64);
}
h2 {
    color: rgb(0, 32, 96);
}
h3 {
    color: rgb(32, 64, 128);
}
h4 {
    color: rgb(32, 96, 160);
}
h5 {
    color: rgb(64, 128, 192);
}
a {
    color: rgb(128, 128, 192);
}
a:hover {
    background-color: rgb(64, 192, 256);
    color: rgb(64, 64, 256);
}
